<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>dbserver</display-name>
	<servlet>
		<servlet-name>Mysqldb</servlet-name>
		<display-name>Mysqldb</display-name>
		<description></description>
		<servlet-class>com.db.Mysqldb</servlet-class>
		 <init-param>
            <param-name>driverName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
        <param-name>username</param-name>            
            <param-value>root</param-value>                
        </init-param>
        <init-param>
            <param-name>password</param-name>        
            <param-value>center</param-value>                
        </init-param>
        <init-param>
            <param-name>dbName</param-name>    
            <param-value>loggps</param-value>    
        </init-param>
        <init-param>
            <param-name>dbip</param-name>    
            <param-value>192.168.1.88</param-value>    
        </init-param>
        <init-param>
            <param-name>dbport</param-name>    
            <param-value>3307</param-value>    
        </init-param>
	</servlet>
	<servlet>
		<servlet-name>Getgps</servlet-name>
		<display-name>Getgps</display-name>
		<description></description>
		<servlet-class>com.db.Getgps</servlet-class>
	 <init-param>
            <param-name>driverName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
        <param-name>username</param-name>            
            <param-value>root</param-value>                
        </init-param>
        <init-param>
            <param-name>password</param-name>        
            <param-value>center</param-value>                
        </init-param>
        <init-param>
            <param-name>dbName</param-name>    
            <param-value>loggps</param-value>    
        </init-param>
        <init-param>
            <param-name>dbip</param-name>    
            <param-value>192.168.1.88</param-value>    
        </init-param>
        <init-param>
            <param-name>dbport</param-name>    
            <param-value>3307</param-value>    
        </init-param>

	</servlet>
	<servlet>
		<servlet-name>Ack</servlet-name>
		<display-name>Ack</display-name>
		<description></description>
		<servlet-class>com.db.Getgps</servlet-class>
	 <init-param>
            <param-name>driverName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
        <param-name>username</param-name>            
            <param-value>root</param-value>                
        </init-param>
        <init-param>
            <param-name>password</param-name>        
            <param-value>center</param-value>                
        </init-param>
        <init-param>
            <param-name>dbName</param-name>    
            <param-value>loggps</param-value>    
        </init-param>
        <init-param>
            <param-name>dbip</param-name>    
            <param-value>192.168.1.88</param-value>    
        </init-param>
        <init-param>
            <param-name>dbport</param-name>    
            <param-value>3307</param-value>    
        </init-param>

	</servlet>
	<servlet>
		<servlet-name>Regsiter</servlet-name>
		<display-name>Regsiter</display-name>
		<description></description>
		<servlet-class>Regsiter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bindphone</servlet-name>
		<display-name>Bindphone</display-name>
		<description></description>
		<servlet-class>com.db.Bindphone</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Getbindphone</servlet-name>
		<display-name>Getbindphone</display-name>
		<description></description>
		<servlet-class>com.db.Getbindphone</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Updatebindinfo</servlet-name>
		<display-name>Updatebindinfo</display-name>
		<description></description>
		<servlet-class>com.db.Updatebindinfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Mpush</servlet-name>
		<display-name>Mpush</display-name>
		<description></description>
		<servlet-class>com.db.Mpush</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upfile</servlet-name>
		<display-name>Upfile</display-name>
		<description></description>
		<servlet-class>com.db.Upfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Weixin</servlet-name>
		<display-name>Weixin</display-name>
		<description></description>
		<servlet-class>com.db.Weixin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Redirect</servlet-name>
		<display-name>Redirect</display-name>
		<description></description>
		<servlet-class>com.db.Redirect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestURL</servlet-name>
		<display-name>RequestURL</display-name>
		<description></description>
		<servlet-class>com.db.RequestURL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefreshWeixinToken</servlet-name>
		<display-name>RefreshWeixinToken</display-name>
		<description></description>
		<servlet-class>com.db.RefreshWeixinToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mysqldb</servlet-name>
		<url-pattern>/Mysqldb</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Getgps</servlet-name>
		<url-pattern>/Getgps</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Ack</servlet-name>
		<url-pattern>/Ack</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Regsiter</servlet-name>
			<url-pattern>/Regsiter</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Bindphone</servlet-name>
			<url-pattern>/Bindphone</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Getbindphone</servlet-name>
			<url-pattern>/Getbindphone</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Updatebindinfo</servlet-name>
			<url-pattern>/Updatebindinfo</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Mpush</servlet-name>
			<url-pattern>/Mpush</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Upfile</servlet-name>
			<url-pattern>/Upfile</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Weixin</servlet-name>
			<url-pattern>/Weixin</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Redirect</servlet-name>
			<url-pattern>/Redirect</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>RequestURL</servlet-name>
			<url-pattern>/RequestURL</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>RefreshWeixinToken</servlet-name>
			<url-pattern>/RefreshWeixinToken</url-pattern>
		</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
